.racerdetails {
    margin-right: 15px;
    margin-left: 15px;
    margin-bottom: 5px;
}

.card-header {
    padding: 12px 0;
}

.namelist {
    display: grid;
    grid-template-columns: repeat(5, minmax(100px, 1fr));
    justify-items: center;
    align-items: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.namelist li {
    list-style-type: none;
}