.navbar {
    background: #483A2F !important;
    margin-top: 15px;
}

.btncustom {
    background: #C21D21 !important;
}

.fa-bars {
    font-size: 25px;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 15px;
}

.fa-mobile-alt {
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.fa-arrow-right {
    color: white;
    font-size: 25px;
    margin-left: 40px;
    margin-right: 20px;
    cursor: pointer;
}