.container {
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 500px;
  background: #483A2F;
  padding: 0;
  padding-bottom: 10px;
}

.detail-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}